<div class="container-fluid bg-dark d-flex justify-content-center align-items-center" style="height: 90vh;">
    <div class="d-flex flex-column justify-content-around h-25">
        <a routerLink="/home" class="text-light" style="text-decoration: none;">Home</a>
        <a routerLink="/employee"  class="text-light" style="text-decoration: none;">Employees</a>
        <button class="btn text-light" (click)="logout()">
            <i class="fa-solid fa-right-from-bracket"></i>Logout</button>
    </div>
</div>