<div class="container-fluid row" style="height: 90vh;">
    <div class="col-2 p-0">
        <app-side></app-side>
    </div>
    <div class="col-10 d-flex justify-content-center align-items-center">
        <div class="border shadow p-5 w-50">
            <h4>Add Employee</h4>
            <form (ngSubmit)="submitted($event)" #emp="ngForm">
                <div class="form-floating mb-3">
                    <input type="text" class="form-control" #eid="ngModel" name="eid" [(ngModel)]="empForm.eid" id="floatingID"
                        placeholder="name@example.com" required pattern="[0-9]+" maxlength="3">
                    <label for="floatingInput">Employee ID</label>
                    <div *ngIf="eid.invalid && eid.touched" class="text-danger">
                        *Invalid Id
                    </div>
                </div>
                <div class="form-floating mb-3">
                    <input type="text" class="form-control" #ename="ngModel" id="floatingname" name="name" [(ngModel)]="empForm.name"
                        placeholder="name@example.com" required minlength="3" maxlength="10">
                    <label for="floatingInput">Employee Name</label>
                    <div class="text-danger" *ngIf="ename.invalid && ename.touched">
                        *Invalid Name
                    </div>
                </div>
                <div class="form-floating mb-3">
                    <input type="number" class="form-control" #ephone="ngModel" name="phone" [(ngModel)]="empForm.phone"
                     id="floatingPassword" placeholder="Password" required pattern="[0-9]{10}">
                    <label for="floatingPassword">Phone Number</label>
                    <div class="text-danger" *ngIf="ephone.invalid && ephone.touched">
                        *Invalid Phone Number
                    </div>
                </div>
                <div class="form-floating mb-2">
                    <label for="floatingselect">Employee Status</label>
                    <select name="" class="form-control" #estatus="ngModel" required name="status" [(ngModel)]="empForm.status" id="floatingselect">
                        <option value="" selected disabled></option>
                        <option value="active">Active</option>
                        <option value="inactive">Inactive</option>
                    </select>
                    <div class="text-danger" *ngIf="estatus.invalid && estatus.touched">
                        *Invalid Status
                    </div>
                </div>
                <div class="d-flex justify-content-between">
                    <button class="btn btn-success" type="submit" [disabled]="emp.invalid">Submit</button>
                    <a routerLink="/employee" class="btn btn-danger">Cancel</a>
                </div>
            </form>
        </div>
    </div>
</div>